*.DS_Store
*.patch
*.diff
*/.libs
*/.deps
*.a
*.o
*.la
*.lo
*.so
*Makefile
*Makefile.in
aclocal.m4
autom4te.cache
compile
config.*
configure
configure~
depcomp
install-sh
libtool
ltmain.sh
m4
missing
*/all.h*
*/tsschecker*
stamp-h1
xcuserdata