*.DS_Store
*.patch
*.diff
*/.libs
*/.deps
*.a
*.o
*.la
*.lo
*Makefile*
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
*/all_tsschecker.h
*/all_tsschecker.h.bak
*/tsschecker*
stamp-h1
